label {
  font-size: 2rem;
  transition: all 0.3s;
}

.form {
  height: auto;
  width: 100%;

  &__item {
    display: block;
    padding-top: 5rem;
    height: auto;
    width: auto;
    @include respond(sm-phone) {
      padding-left: .5rem;
    }

    & > .text-area__container {
      width: 60rem;
      height: 25rem;

      @include respond(phone) {
        width: 30rem;
      }
      @include respond(phone-land) {
        width: 50rem;
      }
    }
  }

  &__label {
    display: block;
    position: relative;
    transition: all 0.3s;
  }

  &__input {
    position: absolute;
    top: 20px;
    font-size: 2rem;
    width: 30rem;
    border-radius: 2px;
    border: none;
    transition: all 0.3s;
    background-color: $color-white;
    border: 1px solid $color-black;
    @include respond(sm-phone) {
      width: 25rem;
    }

    &--message {
      width: 100%;
      height: 20rem;
      resize: none;
      @include respond(sm-phone) {
        width: 25rem;
      }
    }

    & ~ span {
      transition: top 0.7s ease;
      position: absolute;
      top: 3rem;
      opacity: 0;
      color: $color-grey-light;
    }

    &:required {
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary-1;

      & ~ span {
        color: $color-black;
        top: -0.5rem;
        opacity: 1;
      }

      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }

    &:focus:invalid {
      border-bottom: 3px solid tomato;
    }
  }

  &__btn {
    position: absolute;
    top: 55rem;
    @include respond(phone) {
      top: 72rem;
    }
  }
}
