.filter {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 5rem;
  width: 100%;
  padding: 0.5rem 0.5rem;

  @include respond(phone) {
    padding-left: 6rem;
  }
  @include respond(phone-land) {
    padding-left: 6rem;
  }


  &__text {
    display: inline-block;
    color: $color-black;
    font-size: 1.5rem;
    padding: 0 1rem 0 0;
  }

  &__select {
    display: inline-block;
    font-size: 1.6rem;
    color: $color-black;
    width: auto;
    border: 1px solid $color-grey-light;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    appearance: none;
    background-color: $color-white;
    @include respond(phone) {
      display: block;
      text-align: center;
    }

  }

  &__select option {
    font-size: 1.6rem;
    padding-left: 1rem;
    margin-left: 1rem;
  }
}
