.image-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient($color-primary-1 0%, $color-secondary-2 100%);

  & img {
    mix-blend-mode: multiply;
  }
}
