.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin-bottom: 0.4rem;

    &--social {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a i {
        border: none;
        margin: 0.5rem 1rem;
        text-shadow: none;
      }
    }

    a {
      border: 0.2rem solid $color-grey-light;
      border-radius: 2rem;
      color: $color-grey-light;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      margin: 0.5rem 0.5rem;
      padding: 1rem 2rem;
      text-shadow: none;
      white-space: nowrap;

      @include buttonHover;
    }
  }
}
