.card {
  // Functionality
  height: 25rem;
  width: 25rem;
  perspective: 150rem;

  &__placard {
    position: absolute;
    top: 35%;
    left: 14%;
    background: $color-primary-1;
    width: 18rem;
    height: 8rem;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    color: $color-black;
    padding: 1rem 0rem;
  }

  &__more-details {
    text-align: center;
    font-size: 1.6rem;
  }

  &__tags {
    padding: 0 0.5rem;
  }

  &__tags-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__description {
    padding: 2rem 0;
    text-align: center;
  }

  &__side {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.8s ease;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    // TODO: Apply gradient and multiply to --front with appropriate id selector
    // &--front {
    //   background: linear-gradient($color-primary-1 0%, $color-secondary-2 100%);

    //   & img {
    //     mix-blend-mode: multiply;
    //   }
    // }

    &--back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      color: $color-black;
    }
  }
  &:hover &__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

.card__container {
  padding: 2rem 2rem;
}
