.project-board {
  &__container {
    color: $black;
    position: absolute;
    top: 10vh;
    left: 5rem;
    height: 90vh;
    width: 100%;
  }

  &__body {
    margin: 0 auto;
    padding: 2rem 2rem;
    height: 90vh;
  }
}