.project-board {
  &__container {
    @include absCenter;
    @include sectionContainer;
    display: inherit;
    height: 90%;
    width: 90%;
    overflow-y: scroll;

    @include respond(phone) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
      padding-top: 4rem;
    }

    @include respond(phone-land) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @include respond(sm-phone) {
      padding-left: 2rem;
      padding-top: 3rem;
    }
  }

  &__body {
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include respond(phone) {
    padding-top: 4rem;
  }

}