// Font variables
$font-ubuntu: 'Ubuntu', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

// Main theme colors
$color-primary-1: rgb(67, 230, 149);
$color-primary-2: rgb(12, 176, 124);
$color-secondary-1:rgb(39, 75, 116);
$color-secondary-2: rgb(134, 205, 255);

// Black, white, greys
$color-black: #000;
$color-white: #fff;
$color-grey-light: #afafaf;
$color-grey-medium: rgb(68, 68, 68);
$color-grey-dark: #282828;

// Third-party colors
$linkedin-blue: #0077B5;

$color-icon: $color-grey-light;
$color-icon-active: $color-primary-1;
$color-hover: $color-primary-1;