.project {
  @include sectionWrapper;

  & * a {
    color: $color-primary-2;
  }

  & * h2,
  & * h4 {
    padding: 2rem 0;
  }

  & * p {
    padding-bottom: 1.5rem;
  }

  & * ol {
    padding-top: 1rem;
  }
  & * ul {
    padding-left: 2rem;
  }

  // Code blocks in markdown were being computed to 13px rather than 16px. The following attribute normalizes the font-size.
  & * code {
    font-size: 1.96923rem;
  }

  &__container {
    @include absCenter;
    @include sectionContainer;
    overflow-y: scroll;
    overflow-x: hidden;

    @include respond(phone) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
    }

    @include respond(phone-land) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
    }
  }

  &__date {
    font-style: italic;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
}

.footnotes {
  padding-left: 2rem;
}
