.section-contact {
  @include sectionWrapper;

  &__container {
    @include absCenter;
    @include sectionContainer;
    height: auto;

    @include respond(phone) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @include respond(phone-land) {
      max-height: 100%;
      height: 100%;
      width: 100%;
      padding-left: 6rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }


  &__message {
    font-size: 1.6rem;
    padding-top: 2rem;
    width: 90%;
  }
  &__form-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 75%;
  }
}
