.section-contact {
  @include sectionWrapper;

  &__container {
    @include absCenter;
    @include sectionContainer;
  }

  &__message {
    font-size: 1.6rem;
    padding-top: 2rem;
    width: 90%;
  }
  &__form-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 75%;
  }
}
