.section-updates {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  
  &__container {
    float: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
    padding-top: 2.5rem;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: rgba($color-white, 0.95);
    box-shadow: 0 1rem 2rem 0 rgba($color-black, .25);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: .5rem;
  }

  &__date {
    padding-bottom: .5rem;
  }

  &__preview {
    padding: 3rem;
  }

  &__excerpt {
    padding: 1rem 0;
  }
}

.link-text {
  font-size: 1.6rem;
}
