.section-updates {
  @include sectionWrapper;

  &__container {
    @include absCenter;
    @include sectionContainer;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

    @include respond(phone) {
      height: 100%;
      width: 60%;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: .5rem;
  }

  &__date {
    padding-bottom: .5rem;
  }

  &__preview {
    padding: 3rem;
  }

  &__excerpt {
    padding: 1rem 0;
  }
}

.link-text {
  font-size: 1.6rem;
}
