// Reset browser
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.btn {
  color: $color-black;
  width: 10rem;
  height: 2rem;
  background-color: $color-grey-dark;
  color: $color-primary-1;
  border: 1px solid $color-primary-1;
  border-radius: 5px;

  &:hover:enabled {
    box-shadow: 0 1rem 2rem 0 rgba($color-black, 0.25);
  }

  &:disabled {
    background-color: $color-grey-light;
    color: $color-primary-1;
  }
}
