@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@font-face {
  font-family: 'foundation-icons';
  src: url('../fonts/foundation-icons/foundation-icons.eot');
  src: url('../fonts/foundation-icons/foundation-icons.eot?')
      format('embedded-opentype'),
    url('../fonts/foundation-icons/foundation-icons.woff') format('woff'),
    url('../fonts/foundation-icons/foundation-icons.ttf') format('truetype'),
    url('../fonts/foundation-icons/foundation-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Base font styling
body {
  color: $black;
  font-family: $roboto;
  font-weight: 400;
}

// Headings, etc.
.heading-primary {
  font-size: 5rem;
}

.heading-secondary {
  font-size: 2.5rem;
}

.heading-tertiary {
  font-size: 1.25rem;
}


// Icons
.icon::before {
  font-family: 'foundation-icons';
  font-size: 3.0rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-list::before {
  color: white;
  content: '\f169';
}

.icon-list-thumbnail::before {
  color: white;
  content: '\f168';
}

.icon-home::before {
  color: white;
  content: '\f15a';
}

.icon-torso::before {
  color: white;
  content: '\f1fe';
}

.icon-folder::before {
  color: white;
  content: '\f150';
}

.icon-mail::before {
  color: white;
  content: '\f16d';
}

.icon-social-github::before {
  content: '\f1c9';
  color: white;
}

.icon-social-linkedin::before {
  content: '\f1d0';
  color: $linkedin-blue;
}
