@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@font-face {
  font-family: 'foundation-icons';
  src: url('../fonts/foundation-icons/foundation-icons.eot');
  src: url('../fonts/foundation-icons/foundation-icons.eot?')
      format('embedded-opentype'),
    url('../fonts/foundation-icons/foundation-icons.woff') format('woff'),
    url('../fonts/foundation-icons/foundation-icons.ttf') format('truetype'),
    url('../fonts/foundation-icons/foundation-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Base font styling
body {
  color: $primary-color;
  font-family: $roboto;
  font-weight: 400;
}

// Icons
.icon::before {
  font-family: 'foundation-icons';
  font-size: 2.0rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-mail::before {
  content: '\f16d';
}

.icon-social-github::before {
  content: '\f1c9';
}

.icon-social-linkedin::before {
  content: '\f1d0';
}